body {
  font-family: 'Public Sans', sans serif;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 20px;
  font-weight: 800;
  margin-left: 5px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li a {
  padding: 10px 5px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  font-size: 25px;
}

.menu li a:hover {
  background-color:#5BC241;
  color: #ffffff;
}

.menu li .btn {
  padding: 10px 20px;
  background-color:#5BC241;
  border-radius: 10px;
  color: #ffffff;
}

@media(max-width: 780px) {
  .header {
    flex-direction: column;
  }

  .logo h1 {
    font-size: 40px;
  }

  .menu {
    flex-direction: column;
    margin-top: 50px;
  }
  
  .menu li {
    margin-bottom: 50px;
  }

  .menu li:last-child {
    margin-top: 20px;
  }

  .menu li a {
    font-size: 40px;
    padding: 15px 40px;
  }

  .menu li .btn {
    font-size: 20px;
    padding: 15px 20px;
  }
}